@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }

  .wrapper { 
      display: flex; 
      flex-direction: row;
      justify-content: center;
      align-items: center; 
      background: #f7f9fb; 
      width: 100%; 
      margin: 35px auto; 
      position: relative;
      font-size: 'Poppins',sans-serif;
      padding: 80px 320px;
    }

  
  .counter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
      padding: 20px 0; 
      margin: 0 2.5%;
      width: 20%;
    }

  .count-title { 
      font-size: 50px; 
      font-weight: normal;  
      margin-top: 10px; 
      margin-bottom: 0; 
      text-align: center; 
      font-family: 'Poppins', sans-serif;
      color: #111111;
    }

  .count-text { 
      font-size: 13px; 
      font-weight: normal;  
      margin-top: 10px; 
      margin-bottom: 0; 
      text-align: center;
      color: #111111; 
    }
  
  .fa-2x { 
      text-align: center; 
      width: 100%; 
      color: #111111; 
    }

   .wrapper hr {
       background: #eee;
       border: 0;
       height: 0.2px;
       width: 20%;
       margin-top: 5px;
       margin-bottom: 10px;
       padding: 0;
   }

   .wrapper i {
     font-size: 39px;
   }

   @media (max-width: 1300px) {
        
        .wrapper {
          align-items: center;
          padding: 25px 0;
        }
   }

   @media (max-width: 980px) {
    
    .wrapper {
    flex-direction: column;
    width: 100%;
    padding: 0 0;
    }

   .wrapper hr {
     display: block;
     width: 38px;
   }

    .col_fourth { 
      width: 35%; 
    }

    .end {
      margin-left: 0;
    }
   }

