@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

.barras {
  width:540px;
  height: 33vh;
  top: 35px;
}
.barras p{
    margin-left: 5px;
    margin-top: 25px;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    font-size: 13px;
    color: #333333;
}
.barra {
  width:540px; 
  height:10px; 
  background:#CCC; 
  margin:2px;
}
.barra-nivel {
  height:10px; 
  background:#1216fd;
  width:1px;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  transition: width 1s ease;
}
.valor-nivel {
  display: flex;
  justify-content: flex-end;
  line-height:11px; 
  color:#fff; 
  margin-left:10px; 
  font-family:"Poppins",sans-serif; 
  font-size:11px;
}