@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

header {
    position: relative;
    z-index: 1;
}

header img {
    height: 72vh;
    width: 100%;
    z-index: -2;
    position: absolute;
}

.nav-container-1 {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-data {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 500;
    width: 31%;
}

.contact-data a {
    margin-right: 18px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 27%;
    padding-right: 15px;
}

.social-media i {
    margin: 0 10px;
}

.company-section {
    margin-top: 19vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 33vh;
    align-items: flex-end;
    justify-content: center;
}

hr {
    background-color: #2250fc;
    width: 100px;
    height: 2px;
    border: none;
    margin-bottom: 27px;
    margin-top: 20px;
}

.company-data {
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 33vh;
    right: 1%;
    margin: 0 35px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    position: relative;
}

.company-data h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    margin-top: 27px;
    font-weight: 500;
    color:#1f1f1f;
}

.company-data p {
    font-size: 1.1rem;
    color: #484848;
}

.barras {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
}

nav a, nav i {
    color: #ffffff;
    text-decoration: none;
}

nav ul {
    width: 38%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
}

nav ul li {
    text-decoration: none;
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 12px;
}

.nav-icons {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0 -15px;
}

.title-page {
    width: 20%;
    display: inline-flex;
    flex-direction: row;
}

.title-page h1 {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.nav-container-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
}

header h1 {
    font-weight: 900;
    color: #ffffff;
    font-size: 2.1rem;
}

.header-info-wrapper {
    height: 50vh;
    display: flex;
    align-items: center;
}

.header-info {
    width: 100%;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
}

.header-info h1 {
    font-weight: 800;
    font-size: 3.2rem;
    padding: 5px 0;
}

.header-info h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0;
}

.btn-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}

.btn-info button {
    margin: 0 10px;
}

.btn-info button a {
    text-decoration: none;
    color: #ffffff;
    padding: 12px 18px;
}

.btn-info button {
    padding: 12px 2px;
    border-radius: 5px;
    border-style: none;
    font-weight: 600;
    font-size: 0.75rem;
}

.btn-info button:focus {
    outline: none;
} 

.explore-btn {
    background: #2250fc;
}

.purchase-btn {
    background: none;
    padding: 12px 18px;
}

.purchase-btn:hover {
    color: #464646!important
}

.purchase-btn a {
    border: 1.5px solid #ffffff;
    border-radius: 5px;
    padding: 12px 2px;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11vh;
}

.grid-services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50vh;
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
}

.services-text-container {
    align-items: flex-start;
    width: 58%;
    height: auto;
}

.services-text-container h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: #1f1f1f;
}

.services-text-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #484848;
}

.grid-services-cell {
    width: 355px;
}

.grid-services-cell i {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 22px;
    font-size: 1.2rem;
    top: 30px;
}

.grid-services-cell h3, .grid-services-cell p {
    padding-left: 60px;
}

.grid-services-cell h3 {
    margin-bottom: 8px;
    font-weight: 700;
    color: #1f1f1f;
}

.grid-services-cell p {
    font-size: 0.95rem;
    color: #777777;
}

.separation-wrapper {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    margin-top: 6vh;
}

.separation-wrapper hr {
   width: 48.5%; 
   background: #eee;
   border: 0;
   height: 0.2px;
}

.separation-wrapper i {
    top: 12px;
    padding: 0;
    width: 3%;
    font-size: 18px;
    height: 10px;
    color: #cccccc;
    position: relative;
    text-align: center;
}

.client-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.client-section h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color:#1f1f1f
}

.client-section p {
    font-size: 1.2rem;
    color: #484848;
}


/*ACA VA LA PARTE DE ESTILOS DE OUR CLIENTS*/



.blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    padding-top: 10vh;
    height: 100vh;
    background: #f7f9fb;
}

.blog-section {
    align-items: flex-start;
    width: 58%;
    padding-bottom: 2px;
}

.blog-section h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: #1f1f1f;
}

.blog-section p {
    font-size: 1.2rem;
    color: #484848;
}

.grid-blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50vh;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.grid-blog-cell {
    margin-top: 3vh;
    width: 354px;
    height: 58vh;
    background: #ffffff;
    border: 1px solid #f2f2f2;
}

.grid-blog-cell h3 {
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.1px;
    font-size: 1.13rem;
    color: #444444;
}

.grid-blog-cell p {
    font-size: 0.9rem;
    color: #777777;
    margin-top: 20px; 
    margin-bottom: 12px;    
}

.grid-blog-cell a {
    text-decoration: none;
}

.grid-blog-cell img {
    width: auto;
    height: 235px;
}

.grid-blog-text {
    margin: 0 20px;
}

.date-blog-area p {
    display: inline-flex;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #c2c2c2;
}

.date-blog-readmore {
    font-size: 0.8rem;
    color: #484848;
}

.grid-blog-text a:hover {
    color: #2250fc;
}