@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    position: relative;
}

header {
    position: absolute;
    z-index: 99;
    width: 100%;
}

#outer-box-overlay {
    background-image: url("../img/18.jpg");
    width: 100%;
    height: 72vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

#inner-box-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    z-index: 0;
    background: rgba(0,0,0,.59);
    opacity: .5;
}

#inner-box-overlay-2 {
    background-color: hsla(0, 0%, 0%, 0.6);
    width: 100%;
    height: 72vh;
    z-index: -3;
    position: absolute;
}

.nav-container-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: -3;
}

.contact-data {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    font-weight: 500;
    margin-right: 388px;
}

.contact-data a {
    margin-right: 18px;
    line-height: 40px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.social-media i {
    width: 34px;
    height: auto;
    text-align: center;
    padding: 13px 0;
}

.facebook-social:hover {
    background: #5d82d1;  
    animation: backwards;  
}

.twitter-social:hover {
    background: #40bff5;
}

.google-social:hover {
    background: #eb5e4c;
}

.pinterest-social:hover {
    background: #e13138;
}

.vimeo-social:hover {
    background: #35c6ea;
}

.linkedin-social:hover {
    background: #238cc8;
}

.dribbble-social:hover {
    background: #f7659c;
}

.youtube-social:hover {
    background: #ef4e41;
}

.rss-social:hover {
    background: #faa33d;
}

hr {
    background-color: #2250fc;
    width: 100px;
    padding: 1px 0;
    border: none;
    margin-bottom: 27px;
    margin-top: 20px;
}

.company-section {
    margin-top: 3.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.barras {
    display: flex;
    flex-direction: column;
    position: relative;   
}

.company-data { 
    padding-bottom: 55px;
    margin-right: 25px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 547px;
}

.company-data h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    margin-top: 27px;
    font-weight: 500;
    color:#1f1f1f;
}

.company-data p {
    font-size: 1.1rem;
    color: #484848;
}
/*este es el menú hamburger*/
.container-button {
    display: none;
}

nav a, nav i {
    color: #ffffff;
    text-decoration: none;
}

nav ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
}

nav ul li {
    text-decoration: none;
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 12px;
    line-height: 80px;
}

.header-nav-responsive .dropdown-list {
    display: none;
}

.header-nav-responsive .dropdown-menu, .nav-icons-big-screen .dropdown-menu {
    flex-direction: column;
    position: absolute;
    align-items: flex-start;
    background-color: #fff;
    margin-top: 5.3rem;
    padding: 14px 20px;
    border-radius: 5px;
    display: none;
    visibility: hidden;
    border: 1px solid #e6e8eb;
    box-shadow: 0 14px 20px rgba(0,0,0,.1);
}

.header-nav-responsive .dropdown-menu {
    margin-top: -1.1rem;
}

.nav-icons-big-screen i {
    line-height: 80px;
}

.header-nav-responsive:hover .dropdown-menu, .nav-icons-big-screen:hover .dropdown-menu {
    display: flex;
    visibility: visible;
}

.header-nav-responsive .dropdown-menu li, .nav-icons-big-screen .dropdown-menu li {
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 25px;
}

.header-nav-responsive .dropdown-menu li a, .nav-icons-big-screen .dropdown-menu li a{
    color: #484848;
    padding: 3px 2px;
}

.header-nav-responsive .dropdown-menu li a:hover, .nav-icons-big-screen .dropdown-menu li a:hover {
    color:#2250fc;
    
}

.nav-icons ul li {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0 7px;
}

.nav-icons sup {
    font-size: 0.6rem;
    top: -20px;
}

.nav-icons sup:hover {
    color: #0333e8;
}

.responsive-nav-icons {
    list-style: none;
    display: none;
}

.title-page {
    display: inline-flex;
    flex-direction: row;
    margin-right: 315px;
}

.title-page h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 1px;
}

.nav-container-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-weight: 900;
    color: #fff;
    font-size: 2.1rem;
}

.header-info-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header-info {
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25vh 0;
    z-index: 1;
}

.header-info h1 {
    font-weight: 800;
    font-size: 3.2rem;
    padding: 5px 0;
    color: #fff;
}

.header-info h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0;   
}

.btn-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: -24vh;
    z-index: 1;
    padding: 10px 18px;
}

.btn-info a {
    padding: 11px 22px;
    border-radius: 5px;
    border-style: none;
    font-weight: 600;
    font-size: 0.75rem;
    text-decoration: none; 
    color: #fff;
    margin: 0 5px;
}

.btn-info:focus {
    outline: none;
} 

.explore-btn {
    background: #2250fc;
}

.explore-btn:hover {
    background: #0333e8;
    transition: all 0.5s ease;
}

.purchase-btn {
    background: none;
    border: 2px solid #fff !important;
    padding: 9px 18px !important;
}

.purchase-btn:hover {
    background: #fff;
    color: #464646;
    transition: all 0.5s ease;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 11vh 0;
}

.grid-services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.services-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 850px;
    margin-right: 270px;
    margin-bottom: 30px;
}

.services-text-container h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: #1f1f1f;
}

.services-text-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #484848;
}

.grid-services-cell {
    width: 355px;
    position: relative;
}

.grid-services-cell a {
    width: 100%;
    height: 100%;
    color: #333;
}

.grid-services-cell i {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    font-size: 27px;
    top: 0;
    line-height: 44px;
}

.grid-services-cell .icon {
    height: 46px;
    width: 46px;
    position: absolute;
}

.grid-services-cell i:after {
    top: -5px;
    left: 5px;
    padding: 4px;
    box-shadow: 0 0 0 3px #333;
    -webkit-transition: -webkit-transform .2s,opacity .2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform .2s,opacity .2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -webkit-transition: -webkit-transform .2s,opacity .2s;
    transition: transform .2s,opacity .2s;
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
}

.grid-services-cell i:hover:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.grid-services-cell h3, .grid-services-cell p {
    padding-left: 60px;
}

.grid-services-cell h3 {
    
    margin: 8px 0;
    font-weight: 700;
    color: #1f1f1f;
}

.grid-services-cell p {
    font-size: 0.95rem;
    color: #777777;
    padding-bottom: 30px;;
}

.separation-wrapper {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    margin-top: 6vh;
}

.separation-wrapper hr {
   width: 48.5%; 
   background: #eee;
   border: 0;
   padding: 0.2px;
}

.separation-wrapper i {
    top: 12px;
    padding: 0;
    width: 3%;
    font-size: 18px;
    color: #cccccc;
    position: relative;
    text-align: center;
}

.client-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.client-section h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color:#1f1f1f
}

.client-section p {
    font-size: 1.1rem;
    color: #484848;
}

.client-area-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 30px 400px;
    justify-content: center;
    align-items: center;
}

.img-cell:hover {
    background: #f8f8f8;
    transition: all 0.5s ease;
}

.img-cell {
    text-align: center;
    padding: 4.1vh 0;
    width: 230px;
}

.envato, .microsoft, .google, .airbrb, .target {
    border-bottom: 1px solid #eee;
}

.microsoft, .google, .airbrb, .target, .timberland, .stripe, .paypal, .amazon {
    border-left: 1px solid #eee;
}

.img-cell img {
    height: 47.56px;
    width: auto;
    object-fit: cover;
}

.blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
    padding-top: 10vh;
    padding-bottom: 2vh;
    background: #f7f9fb;
}

.blog-section {
    padding-bottom: 2px;
    margin-right: 780px;  
}

.blog-section h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: #1f1f1f;
}

.blog-section p {
    font-size: 1.2rem;
    color: #484848;
}

.grid-blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.grid-blog-cell {
    margin-top: 3vh;
    padding-bottom: 20px;
    width: 354px;
    background: #fff;
    border: 1px solid #f2f2f2;
}

.image-button-container {
    position: relative;
}

.image-button-container img {
    z-index: -1;
}

.image-button-container a {
    position: absolute;
    background: #2250fc;
    color: #fff;
    border: none;
    left: 255px;
    top: 3%;
    border-radius: 25px;
    padding: 4px 17px;
    font-size: 0.82rem;
}

.grid-blog-cell h3 {
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.1px;
    font-size: 1.13rem;
    color: #444444;
}

.grid-blog-cell p {
    font-size: 0.9rem;
    color: #777777;
    margin-top: 20px; 
    margin-bottom: 12px;    
}

.grid-blog-cell a {
    text-decoration: none;
}

.grid-blog-cell img {
    width: auto;
    height: 235px;
    top: -200px;
    z-index: -2;
}

.grid-blog-text {
    margin: 0 20px;
}

.date-blog-area p {
    display: inline-flex;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #c2c2c2;
}

.date-blog-readmore {
    font-size: 0.8rem;
    color: #484848;
}

.grid-blog-text a:hover {
    color: #2250fc;
    transition: all 0.3s ease;
}

.grid-blog-text h3:hover {
    color: #2250fc;
    transition: all 0.3s ease;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #2250fc;
}

footer {
    background: #f7f9fb;
    padding-top: 30px;
    width: 100%;
}

.institutional-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 605px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.institutional-area h3 {
    font-weight: 600;
    color: #484848;
    font-size: 0.88rem;
    margin-bottom: 15px;
}

.institutional-area p {
    font-size: 0.88rem;
    color: #777777;
    margin: 15px 0;
}

.institutional-main {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-left: 110px;
}

.institutional-main a {
    text-decoration: none;
    color: #fff;
    padding: 11px 10px;
    background: #2250fc;
    border-radius: 5px;
    border-style: none;
    font-weight: 600;
    font-size: 0.75rem;
    width: 139px;
    margin-top: 25px;
    text-align: center;
}

.institutional-main a:hover {
    background: #0333e8;
    color: #fff;
}

.institutional-main a:focus {
    outline: none;
} 

.institutional-links {
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-left: 70px;
}

.links-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 100px;
}

.links-item ul li {
    list-style-type: none;
    margin-top: 10px;
}

.links-item ul li a {
    color: #484848;
    font-size: 0.88rem;
}

.links-item ul li a:hover {
    color: #2250fc;
}

.copyright-area {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.82rem;
    color: #484848;
    background: #eff1f4;
    padding: 4vh 0;
}

.copyright-area a {
    color: #484848;
}

.copyright-area a:hover {
    color: #2250fc;
}

@media (max-width:1300px) {
    .company-data { 
        width: 450px;
}

    .grid-services-cell {
        width: 280px;
    }

    .services-text-container {
        width: 610px;  
    }

    .title-page {
        margin-right: 150px;
    }

    .contact-data {
        margin-right: 190px;
}

    .img-cell img {
        height: 35px;
    }

    .img-cell {
        width: 170px;
    }

    .grid-blog-cell {
        width: 290px;
    }

    .grid-blog-cell img {
        height: 192px;
    }
    
    .blog-section {
        margin-right: 580px;  
    }

    .institutional-links {
        margin-left: 50px;
        width: 100px;
    }
    
    .links-item {
        margin-right: 60px;
        width: 100px;
    }

    .institutional-main {
        width: 350px;
        margin-left: 200px;
    }

    .grid-blog-cell a {
        left: 190px;
        top: 11px;
        padding: 2px 15px;
    }

}

@media (max-width:1000px) {
    hr {
        display: none;
    }

    .separation-wrapper hr {
        display: block;
    }
    
    .company-section {
        flex-direction: column;
        justify-content: center;
    }

    .company-data { 
        width: 653px;
}

    .responsive-nav-icons {
        display: flex;
        flex-direction: row;
    }

    .nav-icons-big-screen {
        display: none;
    }

    nav ul li {
        display: none;
    }

    .nav-container-1 {
        background: #ffffff;
    }

    .nav-container-1 a, .nav-container-1 i {
        color: #484848;
    }

    .services-wrapper {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .services-text-container {
        margin-left: 250px;
    }

    .grid-services-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .grid-services-cell {
        width: 600px;
    }

    /*este es el menú hamburger*/
    .container-button {
     display: flex;
}

    .title-page {
        margin: 0 310px;
    }

    .nav-container-2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .nav-container-2 a i {
        margin-right: 15px;
    }

    .client-area-img {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .airbrb, .timberland, .amazon {
        border-left: none;
    }

    .lenovo {
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
 
    .amazon {
        border-right: 1px solid #eee;
    }

    .timberland, .stripe, .paypal {
        border-bottom: 1px solid #eee;
    }

    .institutional-main {
        margin-left: 300px;
        width: 300px;
        
    }
    .institutional-area {
        margin-right: 900px;
    }
    .grid-blog-container {
        grid-template-columns: 1fr 1fr;
    }
    .blog-section {
        margin-right: 270px;  
    }    
}

@media (max-width:950px) {
    .contact-data {
        flex-direction: column;
    }
    
    .title-page {
        margin: 0 255px;
    }

    .institutional-area {
        flex-direction: column;
    }
    .institutional-links {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .links-item {
        margin-top: 50px;
    }

    .institutional-main {
        margin-left: 50px;
    }
}
    
@media (max-width:800px) {
    .title-page {
        margin: 0 200px;
        }
    .social-media {
        margin-right: 70px;
    }
}


@media (max-width:750px) {
    .nav-container-1 {
        flex-direction: column;
    }

    .social-media {
        margin-right: 130px;
    }
    
    .contact-data {
        margin-bottom: 15px;
    }

    .client-area-img {
        grid-template-columns: 1fr 1fr;
    }

    .img-cell {
        border-bottom: 1px solid #eee;
    }

    .paypal, .amazon {
        border-bottom: none;
    }

    .envato, .google, .target, .timberland, .paypal {
        border-left: none;
    }

    .amazon, .airbrb {
        border-right: none;
        border-left: 1px solid #eee;
    }
    .grid-blog-container {
        grid-template-columns: 1fr;
    }
    
    .blog-section {
        margin-right: 0;
    }
}

@media (max-width:650px) {

    .nav-container-1 {
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        font-size: 13px;
    }

    .nav-container-1 a {
        width: 100%;
    }

    .company-section {
        margin-top: 7%;
    }

    .contact-data {
        margin-right: 100px;
        margin-bottom: 0;
        padding: 0;
    }

    .contact-data a {
        line-height: 40px;
        padding-left: 25px;
    }

    .social-media {
        padding-left: 20px;
    }

    .company-data {
        width: 90%;
        margin-left: 50px;
        line-height: 30px;
        padding-bottom: 0;
    }

    .company-data h1 {
        font-size: 2.5rem;
    }
   
    .container-button {
        right: 120px;
    }

    .title-page {
        margin: 0 40px;
    }

    .header-info-wrapper {
        margin-top: 25px;
    }

    .header-info {
        display: flex;
        align-items: center;
        padding-top: 30px;
    }

    .header-info h1 {
    width: 90%;
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 2rem;
    }

    .header-info h2 {
        text-align: center;
        font-size: 1.10rem;
        line-height: 1.7rem;
    }
    
    header img {
        height: 75vh;
    }

    #outer-box-overlay, #inner-box-overlay {
        height: 75vh;
    }    

    .services-text-container {
        width: 90%;
        margin-right: 0;
        margin-left: 0; 
    }

    .services-text-container h1 {
        font-size: 2rem;
    }

    .grid-services-cell {
        width: 100%;
    }

    .client-section {
        width: 90%;
        margin: 0 20px;
        padding-bottom: 20px;
    }

    .client-section h1 {
        font-size: 2rem;
    }

    .client-section p {
        text-align: center;
    }

    .client-area-img { 
        margin: 0 20px;
        width: 90%;
}
    .img-cell {
        width: 100%;
    }

    .blog-section {
        width: 90%;
        margin-left: 40px;
    }

    .blog-section h1 {
        font-size: 2rem;
    }

    .copyright-area {
        padding: 30px 0px;
    }

    .copyright-area h4 {
        text-align: center;
        line-height: 32px;
        margin: 0 20px;
    }
}

@media (max-width:575px) {
    .social-media {
        display: none;
    }
}

@media (max-width:360px) {
    header img {
        height: 100vh;
    }
    
   #outer-box-overlay, #inner-box-overlay {
        height: 100vh;
    }    

}

@media (max-width:320px) {
    header img {
        height: 120vh;
    }

    #outer-box-overlay, #inner-box-overlay {
        height: 120vh;
    }    
}
