@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

header {
    position: relative;
    z-index: 1;
}

header img {
    height: 72vh;
    width: 100%;
    z-index: -2;
    position: absolute;
    object-fit: cover;
}

.nav-container-1 {
    width: 100%;
    padding: 11px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-data {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 500;
    margin-right: 400px;
}

.contact-data a {
    margin-right: 18px;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15px;
}

.social-media i {
    margin: 0 10px;
}

hr {
    background-color: #2250fc;
    width: 100px;
    padding: 1px 0;
    border: none;
    margin-bottom: 27px;
    margin-top: 20px;
}

.company-section {
    margin-top: 33vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.barras {
    display: flex;
    flex-direction: column;
    position: relative;   
}

.company-data { 
    padding-bottom: 55px;
    margin-right: 40px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 550px;
}

.company-data h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    margin-top: 27px;
    font-weight: 500;
    color:#1f1f1f;
}

.company-data p {
    font-size: 1.1rem;
    color: #484848;
}
/*este es el menú hamburger*/
.container-button {
    display: none;
}

nav a, nav i {
    color: #ffffff;
    text-decoration: none;
}

nav ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
}

nav ul li {
    text-decoration: none;
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0 12px;
}

.nav-icons {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0 -15px;
}

.responsive-nav-icons {
    list-style: none;
    display: none;
}

.title-page {
    display: inline-flex;
    flex-direction: row;
    margin-right: 360px;
}

.title-page h1 {
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.nav-container-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
}

header h1 {
    font-weight: 900;
    color: #ffffff;
    font-size: 2.1rem;
}

.header-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;

}

.header-info {
    width: 100%;
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
}

.header-info h1 {
    font-weight: 800;
    font-size: 3.2rem;
    padding: 5px 0;
}

.header-info h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0;
}

.btn-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}

.btn-info button {
    margin: 0 10px;
}

.btn-info button a {
    text-decoration: none;
    color: #ffffff;
    padding: 12px 18px;
}

.btn-info button {
    padding: 12px 0;
    border-radius: 5px;
    border-style: none;
    font-weight: 600;
    font-size: 0.75rem;
}

.btn-info button:focus {
    outline: none;
} 

.explore-btn {
    background: #2250fc;
}

.explore-btn:hover {
    background: #0333e8;
    transition: all 0.5s ease;
}

.purchase-btn {
    background: none;
    padding: 12px 18px;
}

.purchase-btn a:hover {
    color: #464646;
    transition: all 0.5s ease;
}

.purchase-btn:hover {
    background: #ffffff;
    transition: all 0.5s ease;
}

.purchase-btn a {
    border: 1.5px solid #ffffff;
    border-radius: 5px;
    padding: 12px 2px;
}

.services-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 11vh 0;
}

.grid-services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
}

.services-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 850px;
    margin-right: 280px;
}

.services-text-container h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: #1f1f1f;
}

.services-text-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #484848;
}

.grid-services-cell {
    width: 355px;
}

.grid-services-cell i {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 22px;
    font-size: 1.2rem;
    top: 30px;
}

.grid-services-cell h3, .grid-services-cell p {
    padding-left: 60px;
}

.grid-services-cell h3 {
    
    margin: 8px 0;
    font-weight: 700;
    color: #1f1f1f;
}

.grid-services-cell p {
    font-size: 0.95rem;
    color: #777777;
    padding-bottom: 30px;;
}

.separation-wrapper {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    margin-top: 6vh;
}

.separation-wrapper hr {
   width: 48.5%; 
   background: #eee;
   border: 0;
   padding: 0.2px;
}

.separation-wrapper i {
    top: 12px;
    padding: 0;
    width: 3%;
    font-size: 18px;
    color: #cccccc;
    position: relative;
    text-align: center;
}

.client-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.client-section h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color:#1f1f1f
}

.client-section p {
    font-size: 1.1rem;
    color: #484848;
}

.client-area-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 30px 400px;
    justify-content: center;
    align-items: center;
}

.img-cell:hover {
    background: #f8f8f8;
    transition: all 0.5s ease;
}

.img-cell {
    text-align: center;
    padding: 4.1vh 0;
    width: 230px;
}

.envato, .microsoft, .google, .airbrb, .target {
    border-bottom: 1px solid #eee;
}

.microsoft, .google, .airbrb, .target, .timberland, .stripe, .paypal, .amazon {
    border-left: 1px solid #eee;
}

.img-cell img {
    height: 47.56px;
    width: auto;
    object-fit: cover;
}

.blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
    padding-top: 10vh;
    padding-bottom: 2vh;
    background: #f7f9fb;
}

.blog-section {
    padding-bottom: 2px;
    margin-right: 780px;  
}

.blog-section h1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: #1f1f1f;
}

.blog-section p {
    font-size: 1.2rem;
    color: #484848;
}

.grid-blog-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.grid-blog-cell {
    margin-top: 3vh;
    padding-bottom: 20px;
    width: 354px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
}

.grid-blog-cell h3 {
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.1px;
    font-size: 1.13rem;
    color: #444444;
}

.grid-blog-cell p {
    font-size: 0.9rem;
    color: #777777;
    margin-top: 20px; 
    margin-bottom: 12px;    
}

.grid-blog-cell a {
    text-decoration: none;
}

.grid-blog-cell img {
    width: auto;
    height: 235px;
}

.grid-blog-text {
    margin: 0 20px;
}

.date-blog-area p {
    display: inline-flex;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #c2c2c2;
}

.date-blog-readmore {
    font-size: 0.8rem;
    color: #484848;
}

.grid-blog-text a:hover {
    color: #2250fc;
    transition: all 0.3s ease;
}

.grid-blog-text h3:hover {
    color: #2250fc;
    transition: all 0.3s ease;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #2250fc;
}

footer {
    background: #f7f9fb;
    padding-top: 30px;
    width: 100%;
}

.institutional-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 605px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.institutional-area h3 {
    font-weight: 600;
    color: #484848;
    font-size: 0.88rem;
    margin-bottom: 15px;
}

.institutional-area p {
    font-size: 0.88rem;
    color: #777777;
    margin: 15px 0;
}

.institutional-main {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-left: 110px;
}

.institutional-main button a {
    text-decoration: none;
    color: #ffffff;
    padding: 12px 18px;
}

.institutional-main button:hover {
    background: #0333e8;
}

.institutional-main button {
    padding: 12px 2px;
    border-radius: 5px;
    border-style: none;
    font-weight: 600;
    font-size: 0.75rem;
    background: #2250fc;
    width: 140px;
    margin-top: 25px;
}

.institutional-main button:focus {
    outline: none;
} 

.institutional-links {
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-left: 70px;
}

.links-item {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 100px;
}

.links-item ul li {
    list-style-type: none;
    margin-top: 10px;
}

.links-item ul li a {
    color: #484848;
    font-size: 0.88rem;
}

.links-item ul li a:hover {
    color: #2250fc;
}

.copyright-area {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.82rem;
    color: #484848;
    background: #eff1f4;
    padding: 4vh 0;
}

.copyright-area a {
    color: #484848;
}

.copyright-area a:hover {
    color: #2250fc;
}

@media (max-width:1300px) {
    .company-data { 
        width: 450px;
}

    .grid-services-cell {
        width: 280px;
    }

    .services-text-container {
        margin-left: 210px;   
    }

    .title-page {
        margin-right: 150px;
    }

    .contact-data {
        margin-right: 190px;
}

    .img-cell img {
        height: 35px;
    }

    .grid-blog-cell {
        width: 290px;
    }

    .grid-blog-cell img {
        height: 192px;
    }
    
    .blog-section {
        margin-right: 520px;  
    }


    
    .institutional-links {
        margin-left: 50px;
        width: 100px;
    }
    
    .links-item {
        margin-right: 60px;
        width: 100px;
    }

    .institutional-main {
        width: 350px;
        margin-left: 200px;
    }
}

@media (max-width:1000px) {
    hr {
        display: none;
    }

    .separation-wrapper hr {
        display: block;
    }
    
    .company-section {
        flex-direction: column;
        justify-content: center;
    }

    .company-data { 
        width: 653px;
}

    .responsive-nav-icons {
        display: flex;
        flex-direction: row;
    }

    nav ul li {
        display: none;
    }

    .nav-container-1 {
        background: #ffffff;
    }

    .nav-container-1 a, .nav-container-1 i {
        color: #484848;
    }

    .services-wrapper {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .services-text-container {
        margin-left: 430px;
    }

    .grid-services-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .grid-services-cell {
        width: 600px;
    }

    /*este es el menú hamburger*/
    .container-button {
     display: flex;
    
}

    .title-page {
        margin: 0 330px;
    }

    .nav-container-2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .nav-container-2 a i {
        margin-right: 15px;
    }

    .client-area-img {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .airbrb, .timberland, .amazon {
        border-left: none;
    }

    .lenovo {
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
 
    .amazon {
        border-right: 1px solid #eee;
    }

    .timberland, .stripe, .paypal {
        border-bottom: 1px solid #eee;
    }

    .institutional-main {
        margin-left: 300px;
        width: 300px;
        
    }
    .institutional-area {
        margin-right: 900px;
    }
    .grid-blog-container {
        grid-template-columns: 1fr 1fr;
    }    
}

@media (max-width:950px) {
    .contact-data {
        flex-direction: column;
    }
    
    .title-page {
        margin: 0 255px;
    }

    .institutional-area {
        flex-direction: column;
    }
    .institutional-links {´
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .links-item {
        margin-top: 50px;
    }

    .institutional-main {
        margin-left: 50px;
    }
}
    
@media (max-width:800px) {
    .title-page {
        margin: 0 200px;
        }
}


@media (max-width:750px) {
    .nav-container-1 {
        flex-direction: column;
    }

    .social-media {
        margin-right: 130px;
    }
    
    .contact-data {
        margin-bottom: 15px;
    }

    .client-area-img {
        grid-template-columns: 1fr 1fr;
    }

    .img-cell {
        border-bottom: 1px solid #eee;
    }

    .paypal, .amazon {
        border-bottom: none;
    }

    .envato, .google, .target, .timberland, .paypal {
        border-left: none;
    }

    .amazon, .airbrb {
        border-right: none;
        border-left: 1px solid #eee;
    }
    .grid-blog-container {
        grid-template-columns: 1fr;
    }    
}

@media (max-width:650px) {
    
    .nav-container-1 {
        padding-left: 20px;
        width: 100%;
    }

    .nav-container-1 a {
        width: 100%;
    }

    .social-media {
        padding-left: 20px;
    }

    .company-data {
        width: 90%;
        margin-left: 50px;
    }

    .company-data h1 {
        font-size: 2rem;
    }
    .company-section {
        margin-top: 120px;
    }

    .container-button {
        right: 120px;
    }

    .title-page {
        margin: 0 40px;
    }

    .title-page h1 {
        font-size: 2rem;
    }

    .header-info-wrapper {
        margin-top: 70px;
    }
    .header-info h1 {
    font-size: 2rem;
    text-align: center;
    }

    .header-info h2 {
        text-align: center;
    }

    .services-text-container {
        width: 100%;
        margin-right: 380px;
    }

    .services-text-container h1 {
        font-size: 2rem;
    }

    .grid-services-cell {
        width: 100%;
    }

    .client-section h1 {
        font-size: 2rem;
    }

    .client-section p {
        text-align: center;
    }

    .client-area-img { 
        margin: 0 20px;
        width: 90%;
}
    .img-cell {
        width: 45%;
    }
    .blog-section {
        margin-right: 0;
    }

    .blog-section h1 {
        font-size: 2rem;
    }
}

